################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/curve_intersection/x64/Debug
/.vs
/curve_intersection/x64/Release
/x64/Release
/curve_intersection/imgui.ini
/curve_intersection/output.txt
