################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/curve_intersection/x64/Debug
/.vs
/curve_intersection/x64/Release
/x64/Release
/curve_intersection/imgui.ini
/curve_intersection/output.txt
/Screenshot 2022-09-21 100826.png
/Screenshot 2022-09-20 072751.png
/Screenshot 2022-09-20 061634.png
/Screenshot 2022-09-19 194322.png
/Screenshot 2022-09-18 043958.png
/Screenshot 2022-09-16 065328.png
/Screenshot 2022-09-16 063922.png
/make_curve26_comparison.ods
/comparison02.ods
/curve_intersection/saved_points0921.dat
/curve_intersection/calc00.log
/curve_intersection/calc.log
/curve_intersection/calc - Copy.log
/curve_intersection/calc_two_lines.log
*.swp
/comparison_decompose_curve_a_curve_b.ods
/curve_intersection/lines.dat
